<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recipe Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-link" href="#" (click)="onHeaderSelect(1)">Recipes</a>
            </li>
            <li>
                <a class="nav-link" href="#" (click)="onHeaderSelect(2)">Shopping List</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="ndropdown">
                <a class="dropdown-toggle nav-link" href="#" role="button">
                    Manage
                </a>
                <ul class="dropdown-menu">
                    <a href="#">Save Data</a>
                    <a href="#">Fetch Data</a>
                </ul>
            </li>
        </ul>
    </div>
</nav>