<div class="row">
    <div class="col-xl-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
                Manage Recipe
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" class="dropdown-item">To Shopping List</a>
                    <a href="#" class="dropdown-item">Edit Recipe</a>
                    <a href="#" class="dropdown-item">Delete recipe</a>
                </li>
            </ul>
        </div>
    </div>
</div>